@base-size: 45px;

/* Scale Me ! */

//Colors
@icon-color: #e3f0f8;
@eye-color: #ffffff;
@peak-color1: #fac532;
@peak-color2: #eaab2f;
@body-color1: #ed4a62;
@body-color2: #ed484a;
@wing-color: #c93c43;
@tail-color: #ed4a62;
@arrows-color: #4c5860;
//Mixins 
.centering() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

body {
    .main {
        background-color: #9AC1C3;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .cloud-wrapper {
            width: 200px;
            height: 100px;
            margin: 50px 0;
            transform: translateX(-100%);
            -webkit-animation: cloud-one 15s infinite;
            /* Safari 4+ */
            -moz-animation: cloud-one 15s infinite;
            /* Fx 5+ */
            -o-animation: cloud-one 15s infinite;
            /* Opera 12+ */
            animation: cloud-one 15s infinite;
            /* IE 10+, Fx 29+ */
            animation-timing-function: ease-in-out;
            &.two {
                margin-top: -90px;
                animation-duration: 18s;
                animation-timing-function: ease-in-out;
            }
            .cloud-inner {
                position: relative;
                width: 100%;
                height: 100%;
                .cloud {
                    width: 50%;
                    height: 100%;
                    background-color: #ffffff;
                    // border-radius:50%;
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    position: relative;
                    margin: 0 auto;
                    &:before {
                        width: 65px;
                        height: 65px;
                        background-color: #ffffff;
                        border-top-left-radius: 50%;
                        border-bottom-left-radius: 50%;
                        position: absolute;
                        left: -25%;
                        content: '';
                        bottom: 0;
                    }
                    &:after {
                        width: 50px;
                        height: 50px;
                        background-color: #ffffff;
                        border-top-right-radius: 50%;
                        border-bottom-right-radius: 50%;
                        position: absolute;
                        right: -25%;
                        content: '';
                        bottom: 0;
                    }
                }
                &:after {
                    width: 48%;
                    background-color: #ffffff;
                    position: absolute;
                    content: '';
                    bottom: 0px;
                    left: 53px;
                    height: 20px;
                }
            }
            &.open {
                transform: translateX(0);
            }
        }
        .bird-wrapper {
            position: relative;
            width: 200px;
            height: 130px;
            transform: translateX(-100%);
            -webkit-animation: cloud-one 15s infinite;
            /* Safari 4+ */
            -moz-animation: cloud-one 15s infinite;
            /* Fx 5+ */
            -o-animation: cloud-one 15s infinite;
            /* Opera 12+ */
            animation: cloud-one 15s infinite;
            /* IE 10+, Fx 29+ */
            animation-timing-function: ease-in-out;
        }
        .bird-body {
            animation: bounce .8s linear infinite;
            width: @base-size * 2;
            height: @base-size * 2;
            background-image: linear-gradient(180deg, @body-color1 50%, @body-color2 50%);
            border-radius: 50%;
            .centering();
            z-index: 9999;
            .beak {
                width: 0;
                height: 0;
                border-left: @base-size/2 solid @peak-color1;
                border-top: @base-size/2 solid transparent;
                position: absolute;
                right: -16.5px;
                top: 22.5px;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -@base-size/2;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-left: @base-size/2 solid @peak-color2;
                    border-bottom: @base-size/2 solid transparent;
                }
            }
            .eye {
                width: @base-size/2;
                height: @base-size/2;
                background: @eye-color;
                border-radius: 100%;
                position: absolute;
                top: @base-size/3;
                right: 16.25px;
                box-shadow: 0 0 0 @base-size/9 #731f2e;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-30%, -30%) rotate(-135deg);
                    -webkit-transform: translate(-30%, -30%) rotate(-145deg);
                    ;
                    border-radius: 50%;
                    border-right-color: transparent;
                    border-top-color: #1b131e;
                    border-bottom-color: #1b131e;
                    border-left-color: #1b131e;
                    border-width: @base-size/8;
                    border-style: solid;
                }
                &:after {
                    content: '';
                    display: block;
                    width: @base-size/4;
                    height: @base-size/20;
                    background: #731f2e;
                    position: absolute;
                    bottom: 50%;
                    transform: translateY(-50%);
                    right: -@base-size/4;
                }
            }
            .tail {
                width: 0;
                height: 0;
                border-right: @base-size/2 solid @tail-color;
                border-bottom: @base-size/2 solid transparent;
                position: absolute;
                left: -21.5px;
                top: 32.5px;
            }
            .wing {
                width: 0;
                height: 0;
                margin: 0;
                padding: 0;
                border-left: @base-size /1.1 solid darken(@wing-color, 5%);
                border-bottom: @base-size /1.2 solid transparent;
                position: absolute;
                bottom: @base-size /6;
                left: @base-size/3;
                transform-origin: top center;
                animation: wing .25s linear infinite;
            }
            .nevus {
                width: @base-size * .15;
                height: @base-size * .15;
                background: #f089a6;
                border-radius: 50%;
                position: absolute;
                top: @base-size * .25;
                left: @base-size * .3;
                &:after,
                &:before {
                    content: '';
                    display: block;
                    background: inherit;
                    border-radius: 50%;
                    position: absolute;
                }
                &:before {
                    width: @base-size * .05;
                    height: @base-size * .05;
                    left: @base-size * .25;
                }
                &:after {
                    width: @base-size * .1;
                    height: @base-size * .1;
                    top: @base-size * .2;
                    left: @base-size * .15;
                }
            }
        }
        .screen-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 425px;
            // overflow: hidden;
            #warped {
                position: relative;
                display: block;
                width: 588px;
                height: 373px;
                margin: 0 auto;
                z-index: 1;
                div[class^=w]:nth-of-type(n+0) {
                    display: block;
                    position: absolute;
                    -moz-transform-origin: 50% 100%;
                    -webkit-transform-origin: 50% 100%;
                    -o-transform-origin: 50% 100%;
                    -ms-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;

                }
                div {
                    //border: 1px solid #ffffff;
                    font-size: 110px;
                    font-weight: regular;
                    font-style: normal;
                    line-height: 0.7;
                    white-space: pre;
                    overflow: visible;
                    padding: 0px;
                    
                    // -webkit-animation: cssAnimation 8s 16 ease;
                    // -moz-animation: cssAnimation 8s 16 ease;
                    // -o-animation: cssAnimation 8s 16 ease;
                }
                .w0 {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-transform: rotate(-6.95rad);
                    -webkit-transform: rotate(-6.95rad);
                    -o-transform: rotate(-6.95rad);
                    -ms-transform: rotate(-6.95rad);
                    transform: rotate(-6.95rad);
                    width: 150px;
                    height: 225px;
                    left:-249.5px;
                    top: 124.99px;
                    background-color:#F5E665;
                }
                .w1 {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-transform: rotate(-6.69rad);
                    -webkit-transform: rotate(-6.69rad);
                    -o-transform: rotate(-6.69rad);
                    -ms-transform: rotate(-6.69rad);
                    transform: rotate(-6.69rad);
                    width: 150px;
                    height: 200px;
                    left: -93.58px;
                    top: 63.8px;
                    background-color:#F5E665;
                }
                .w2 {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-transform: rotate(-6.4rad);
                    -webkit-transform: rotate(-6.4rad);
                    -o-transform: rotate(-6.4rad);
                    -ms-transform: rotate(-6.4rad);
                    transform: rotate(-6.4rad);
                    width: 150px;
                    height: 250px;
                    left: 75.51px;
                    top: -29px;
                    background-color:#FFC472;
                }
                .w3 {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-transform: rotate(-6.19rad);
                    -webkit-transform: rotate(-6.19rad);
                    -o-transform: rotate(-6.19rad);
                    -ms-transform: rotate(-6.19rad);
                    transform: rotate(-6.19rad);
                    width: 150px;
                    height: 225px;
                    left: 254.79px;
                    top: -13.26px;
                    background-color:#FFA891;
                }
                .w4 {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-transform: rotate(-6.05rad);
                    -webkit-transform: rotate(-6.05rad);
                    -o-transform: rotate(-6.05rad);
                    -ms-transform: rotate(-6.05rad);
                    transform: rotate(-6.05rad);
                    width: 150px;
                    height: 235px;
                    left: 430.79px;
                    top: -2.12px;
                    background-color:#78ADD2;
                }
                .w5 {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    -moz-transform: rotate(-5.8rad);
                    -webkit-transform: rotate(-5.8rad);
                    -o-transform: rotate(-5.8rad);
                    -ms-transform: rotate(-5.8rad);
                    transform: rotate(-5.8rad);
                    width: 150px;
                    height: 225px;
                    left: 584.94px;
                    top: 64.7px;
                    background-color:#A0A7C2;
                }
            }
            .earth {
                width: 1500px;
                height: 1240px;
                margin: -173px auto 0 auto;
                background-color: #EDF393;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                position: relative;
                z-index: 26;
            }

            .buildings
            {
                .window
                {
                    background-color:#9AC1C3;
                    border:3px solid #ffffff;
                    border-radius:10px;
                    width:30px;
                    height:30px;
                    position:absolute;

                    &:before
                    {
                        width:2px;
                        background-color:#ffffff;
                        height:100%;
                        position:absolute;
                        top:0;
                        left:15px;
                        content:'';
                    }

                    &:after
                    {
                        width:100%;
                        background-color:#ffffff;
                        height:2px;
                        position:absolute;
                        top:15px;
                        left:0;
                        content:'';
                    }

                    &.one
                    {
                        top:10px;
                        left:10px;
                    }

                    &.two
                    {
                        top:10px;
                        right:10px;
                    }

                    &.three
                    {
                        top:65px;
                        left:10px; 
                    }

                    &.four
                    {
                        top:65px;
                        right:10px;
                    }

                    &.five
                    {
                        top:125px;
                        left:10px; 
                    }

                    &.six
                    {
                        top:125px;
                        right:10px;
                    }
                }
                

                .door
                {
                    background-color:#9AC1C3;
                    border:3px solid #ffffff;
                    border-radius:10px;
                    width:30px;
                    height:50px;
                    position:absolute;
                    bottom: 0;
                    left: 57px;

                    .door-inner
                    {
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 5px;
                        left: 6px;
                        border:1px solid #ffffff;

                        &:before
                        {
                            width:1px;
                            background-color:#ffffff;
                            height:100%;
                            position:absolute;
                            top:0;
                            left:7px;
                            content:'';
                        }

                        &:after
                        {
                            width:100%;
                            background-color:#ffffff;
                            height:1px;
                            position:absolute;
                            top:7px;
                            left:0;
                            content:'';
                        }
                    }
                    
                }
            }
        }
    }
}

// colour pallet #EDF393 #F5E665 #FFC472 #FFA891 #89BABE

//cp 2 darks #9AC1C3 #9DBCB3 #A0B1B8 #A0A7C2 #78ADD2 

@-webkit-keyframes cloud-one {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(1000%);
    }
}

@-moz-keyframes cloud-one {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(1000%);
    }
}

@-o-keyframes cloud-one {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(1000%);
    }
}

@keyframes cloud-one {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(1000%);
    }
}

// CSS Wing Animation
@keyframes wing {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

// CSS Bounce Animation
@keyframes bounce {
    0% {
        top: 50%;
    }
    25% {
        top: 52%;
    }
    50% {
        top: 50%;
    }
    75% {
        top: 48%;
    }
    100% {
        top: 50%;
    }
}

// skew and bounce
@-webkit-keyframes cssAnimation {
    0% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
    25% {
        -webkit-transform: rotate(0deg)  skew(-30deg) translate(0px);
    }
    50% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
    75% {
        -webkit-transform: rotate(0deg)  skew(30deg) translate(0px);
    }
    100% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }

}

@-moz-keyframes cssAnimation {
    0% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
    25% {
        -webkit-transform: rotate(0deg)  skew(-30deg) translate(0px);
    }
    50% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
    75% {
        -webkit-transform: rotate(0deg)  skew(30deg) translate(0px);
    }
    100% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
}

@-o-keyframes cssAnimation {
    0% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
    25% {
        -webkit-transform: rotate(0deg)  skew(-30deg) translate(0px);
    }
    50% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
    75% {
        -webkit-transform: rotate(0deg)  skew(30deg) translate(0px);
    }
    100% {
        -webkit-transform: rotate(0deg)  skew(0deg) translate(0px);
    }
}
