.home-blog {
    position: relative;
    background-color: #fc3;
    background-size: 100% 100%;
    color: #000;
    background-image: url(./home-contact.jpg);
}

.home-blog__content-left {
    margin: 0 0 50px;
}

@media (min-width: 1000px)
{
.home-blog__content-left, .home-blog__content-right {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 400px);
    margin-bottom: 0;
    padding-right: 25px;
}}

.home-blog__content-left a .type-subheadlines-buttons, .home-blog__content-right a .type-subheadlines-buttons {
    color: #000;
}

.c-latest-blog-posts__list {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out;
    overflow: hidden;
}

.c-latest-blog-posts__list-item {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.c-latest-blog-posts__list-item--active {
    opacity: 1;
}

.home-blog__content-right .type-hero-text {
    margin: 0;
}

.c-latest-blog-posts__list-item .type-hero-text::after {
    display: block;
    position: relative;
    content: "";
}

.case-studies-reel__item:hover .c-hr:not(.c-hr--large), a:hover+.c-hr:not(.c-hr--large) {
    width: 60px;
}

.c-latest-blog-posts__list-item+.c-latest-blog-posts__list-item, .c-latest-blog-posts__nav {
    margin-top: 30px;
}

.c-latest-blog-posts__nav-btn {
    width: 45px;
    height: 36px;
    padding: 6px 0;
    border: 0;
    background-color: transparent;
    overflow: hidden;
}

.c-latest-blog-posts__nav-btn:disabled {
    cursor: not-allowed;
}

.accessible-label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.c-latest-blog-posts__nav-btn+.c-latest-blog-posts__nav-btn {
    margin-left: 60px;
}

.c-latest-blog-posts__nav-btn--next svg {
    -webkit-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    transform: scale(-1,1);
}

.c-latest-blog-posts__nav-btn polygon {
    -webkit-transition: fill .4s ease-in-out;
    transition: fill .4s ease-in-out;
}

.c-latest-blog-posts__nav-btn:active polygon, .c-latest-blog-posts__nav-btn:hover polygon {
    fill: #fff;
}

.type-block-sub-headline {
    font-size: 40px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
    font-family:  'Roboto Condensed';
}

@media (min-width: 640px)
{
.type-block-sub-headline {
    font-size: 50px;
    line-height: 40px;

}}

.type-body-copy, .type-body-copy-headline {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'freight-sans-pro';
}

.type-body-copy {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

@media (min-width: 640px)
{
.type-body-copy {
    font-size: 19px;
    line-height: 28px;
}}

.home-blog .type-body-copy {
    color: #555;
}

.home-blog .type-block-sub-headline {
    margin: 0;
    font-size: 30px;
}

.home-blog__content-right {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.u-width-limiter--low-limited {
    max-width: 1060px;
}