body 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ffffff;
}

._ie-flex-min-height-fix 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

._ie-flex-min-height-fix>* 
{
  width: 100%;
}

.o-section-full 
{
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0;
}

.o-section--below-nav 
{
  margin-top: 0;
  padding-top: 20px;
}

.landing 
{
  position: relative;
}

.landing .u-width-limiter 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

@media (min-width: 640px) 
{
  .u-width-limiter {
      padding: 0 80px;
  }
}

.c-section-video-fill-wrapper 
{
  display: none;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media (min-width: 640px) 
{
  .c-section-video-fill-wrapper {
      display: block;
  }
}

.c-section-video-fill-wrapper video,
.c-section-video-fill-wrapper::after 
{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.c-section-video-fill-wrapper video 
{
  display: none;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.c-section-video-fill-wrapper::after 
{
  content: '';
}

@media (min-width: 640px)
{
  .c-section-video-fill-wrapper video {
      display: block;
  }
}

.c-section-video-fill-wrapper~* 
{
  position: relative;
  z-index: 1;
}

.type-subheadlines-buttons 
{
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 23px;
  font-weight: 700;
  color: #e51f10;
  font-family: 'Roboto Condensed';
}

.type-intro-headline 
{
  margin: 0 0 20px;
  font-size: 129px;
  line-height: 105px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Roboto Condensed';
}

@media (min-width: 640px) {
    .type-intro-headline {
        font-size: 150px;
        line-height: 115px;
    }
}

hr {
    box-sizing: content-box;
    height: 0;
}

.c-hr {
    width: 30px;
    height: 3px;
    margin: 0;
    border: none;
    text-align: left;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.c-hr--yellow {
    background: #e51f10;
}

.c-hr--large {
    width: 125px;
}

a {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.special-about-link {
    color: #fc3!important;
}

a>.type-subheadlines-buttons {
    display: inline-block;
    margin: 20px 0 10px;
}

.landing a .type-subheadlines-buttons {
    color: #555;
}

.o-section--below-nav {
    margin-top: 0;
    padding-top: 120px;
}

.page-norm {
    min-height: 100vh;
    color: #000;
    /* background: #050505 url(./images/temp-bg.jpg) no-repeat center 120px/cover; */
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-work {
    position: relative;
    color: #000;
}

@media (min-width: 640px) {
    .home-work {
        background: #f5f5f5;
        background-image: url(../images/home-work.jpg);
        background-size: 100% 100%;
    }
}

@media (min-width: 960px) {
    .home-work .u-width-limiter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.type-hero-headline {
    margin: 0 0 20px;
    font-size: 96px;
    line-height: 77px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 640px) {
    .type-hero-headline {
        font-size: 120px;
        line-height: 95px;
        letter-spacing: -5px;
    }
}

.home-blog {
    position: relative;
    background-color: #fc3;
    background-size: 100% 100%;
    color: #000;
    background-image: url(../images/home-contact.jpg);
}

.home-blog__content-left {
    margin: 0 0 50px;
}

@media (min-width: 1000px) {
    .home-blog__content-left,
    .home-blog__content-right {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 400px);
        margin-bottom: 0;
        padding-right: 25px;
    }
}

.home-blog__content-left a .type-subheadlines-buttons,
.home-blog__content-right a .type-subheadlines-buttons {
    color: #000;
}

.c-latest-blog-posts__list {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out;
    overflow: hidden;
}

.c-latest-blog-posts__list-item {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.c-latest-blog-posts__list-item--active {
    opacity: 1;
}

.home-blog__content-right .type-hero-text {
    margin: 0;
}

.c-latest-blog-posts__list-item .type-hero-text::after {
    display: block;
    position: relative;
    content: "";
}

.case-studies-reel__item:hover .c-hr:not(.c-hr--large),
a:hover+.c-hr:not(.c-hr--large) {
    width: 60px;
}

.c-latest-blog-posts__list-item+.c-latest-blog-posts__list-item,
.c-latest-blog-posts__nav {
    margin-top: 30px;
}

.c-latest-blog-posts__nav-btn {
    width: 45px;
    height: 36px;
    padding: 6px 0;
    border: 0;
    background-color: transparent;
    overflow: hidden;
}

.c-latest-blog-posts__nav-btn:disabled {
    cursor: not-allowed;
}

.accessible-label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.c-latest-blog-posts__nav-btn+.c-latest-blog-posts__nav-btn {
    margin-left: 60px;
}

.c-latest-blog-posts__nav-btn--next svg {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.c-latest-blog-posts__nav-btn polygon {
    -webkit-transition: fill .4s ease-in-out;
    transition: fill .4s ease-in-out;
}

.c-latest-blog-posts__nav-btn:active polygon,
.c-latest-blog-posts__nav-btn:hover polygon {
    fill: #fff;
}

.type-block-sub-headline {
    font-size: 40px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto Condensed';
}

@media (min-width: 640px) {
    .type-block-sub-headline {
        font-size: 50px;
        line-height: 40px;
    }
}

.type-body-copy,
.type-body-copy-headline {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
}

.type-body-copy {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

@media (min-width: 640px) {
    .type-body-copy {
        font-size: 19px;
        line-height: 28px;
    }
}

.home-blog .type-body-copy {
    color: #555;
}

.home-blog .type-block-sub-headline {
    margin: 0;
    font-size: 30px;
}

.home-blog__content-right {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.u-width-limiter--low-limited {
    max-width: 1060px;
}

.c-primary-nav {
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 3;
    background-color: transparent;
}

.c-primary-nav__logo-wrapper {
    font-size: 25px;
    color: #e51f10;
    font-family: 'Roboto Black', sans-serif;
}

.c-primary-nav--active
{
    background-color: white;
}

.c-primary-nav--active .c-primary-nav__header
{
    background-image: -webkit-linear-gradient(top, #f5f5f5 50%, transparent 50%);
    background-image: linear-gradient(to bottom, #f5f5f5 50%, transparent 50%);
    background-size: 100% 200%;
}

.c-primary-nav__header {
    height: 120px;
    
}

.u-width-limiter {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

@media (min-width: 640px) {
    .u-width-limiter {
        padding: 0 80px;
    }
}

.c-primary-nav__header .u-width-limiter {
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-primary-nav--right,
.c-primary-nav__header .u-width-limiter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: inherit;
}

svg:not(:root) {
    overflow: hidden;
}

.c-primary-nav__logo-wrapper svg {
    max-width: 200px;
    margin: 0 0 0 -37px;
}

.c-primary-nav__hamburger {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.c-primary-nav__hamburger-bar {
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    background: #555;
    -webkit-transition: top .2s .2s, background .2s, -webkit-transform .2s;
    transition: top .2s .2s, transform .2s, background .2s;
    transition: top .2s .2s, transform .2s, background .2s, -webkit-transform .2s;
}

.c-primary-nav__hamburger-bar--1 {
    top: 0;
}

.c-primary-nav__hamburger-bar--2 {
    top: 8px;
}

.c-primary-nav__hamburger-bar--3 {
    top: 16px;
}

.c-primary-nav__overlay-wrapper,
.c-primary-nav__overlay-wrapper-backdrop {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    min-height: 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.455, .03, .24, 1.005);
    transition: transform .3s cubic-bezier(.455, .03, .24, 1.005);
    transition: transform .3s cubic-bezier(.455, .03, .24, 1.005), -webkit-transform .3s cubic-bezier(.455, .03, .24, 1.005);
    will-change: height, transform;
}

.c-primary-nav__overlay-wrapper-backdrop {
    position: fixed;
    top: 120px;
    z-index: 11;
    pointer-events: none;
    overflow: hidden;
    background: #f5f5f5;
    height: calc(100% - 120px);
}

.c-primary-nav__overlay-wrapper-backdrop::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    background: #eaeaea;
}

.c-primary-nav__overlay-wrapper-backdrop-gradient::after,
.c-primary-nav__overlay-wrapper-backdrop-gradient::before {
    content: '';
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    z-index: 12;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    will-change: opacity;
}

.c-primary-nav__overlay-wrapper-backdrop-gradient::before {
    top: 0;
    background: -webkit-linear-gradient(top, #f5f5f5, rgba(255, 255, 255, 0));
    background: linear-gradient(to bottom, #f5f5f5, rgba(255, 255, 255, 0));
}

.c-primary-nav__overlay-wrapper-backdrop-gradient::after {
    bottom: 0;
    background: -webkit-linear-gradient(bottom, #f5f5f5, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, #f5f5f5, rgba(255, 255, 255, 0));
}

.c-primary-nav__overlay-wrapper,
.c-primary-nav__overlay-wrapper-backdrop {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    min-height: 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.455, .03, .24, 1.005);
    transition: transform .3s cubic-bezier(.455, .03, .24, 1.005);
    transition: transform .3s cubic-bezier(.455, .03, .24, 1.005), -webkit-transform .3s cubic-bezier(.455, .03, .24, 1.005);
    will-change: height, transform;
}

.c-primary-nav__overlay-wrapper {
    position: absolute;
    bottom: 0;
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: scroll;
    color: #555;
}

.c-primary-nav__overlay {
    max-height: 100%;
    margin: 10vh auto;
    padding: 0;
    -ms-overflow-style: none;
    list-style-type: none;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    will-change: opacity;
    opacity: 0;
}

.c-primary-nav__overlay.on {
    opacity: 1;
}

.type-bloc-headline {
    margin: 0 0 20px;
    font-size: 70px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 640px) {
    .type-bloc-headline {
        font-size: 100px;
        line-height: 80px;
    }
}

.c-primary-nav__overlay li {
    position: relative;
    margin: 0;
    padding: 0 15px;
    outline: 0;
    -webkit-transition: color .4s;
    transition: color .4s;
    font-size: 42px;
    line-height: 40px;
}

@media (min-width: 640px) {
    .c-primary-nav__overlay li {
        font-size: 100px;
        line-height: 80px;
    }
}

.c-primary-nav__overlay li::after {
    width: 200vw;
    height: 65%;
    position: absolute;
    top: 50%;
    left: -100vw;
    -webkit-transform: translateY(-50%) scaleY(0);
    -ms-transform: translateY(-50%) scaleY(0);
    transform: translateY(-50%) scaleY(0);
    z-index: -1;
    background: #fc3;
    -webkit-transition: -webkit-transform .5s 0s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s 0s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s 0s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s 0s cubic-bezier(.645, .045, .355, 1);
}

@media (min-width: 640px) {
    .c-primary-nav__overlay li::after {
        content: '';
    }
}

.c-primary-nav--active .c-primary-nav__overlay-wrapper,
.c-primary-nav--active .c-primary-nav__overlay-wrapper-backdrop {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: -webkit-transform .3s .1s cubic-bezier(.455, .03, .24, 1.005);
    transition: transform .3s .1s cubic-bezier(.455, .03, .24, 1.005);
    transition: transform .3s .1s cubic-bezier(.455, .03, .24, 1.005), -webkit-transform .3s .1s cubic-bezier(.455, .03, .24, 1.005);
}

.c-primary-nav--active .c-primary-nav__overlay {
    -webkit-transition: opacity .5s .3s;
    transition: opacity .5s .3s;
}

.c-primary-nav--active .c-primary-nav__hamburger-bar--1 {
    top: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top .2s, -webkit-transform .2s .2s;
    transition: top .2s, transform .2s .2s;
    transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
}

.c-primary-nav--active .c-primary-nav__hamburger-bar--2 {
    background: 0 0;
}

.c-primary-nav--active .c-primary-nav__hamburger-bar--3 {
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top .2s, -webkit-transform .2s .2s;
    transition: top .2s, transform .2s .2s;
    transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
}

.c-primary-nav__overlay li {
    position: relative;
    margin: 0;
    padding: 0 15px;
    outline: 0;
    -webkit-transition: color .4s;
    transition: color .4s;
    font-size: 42px;
    line-height: 40px;
    font-family: 'Roboto Condensed';
}

@media (min-width: 640px) {
    .c-primary-nav__overlay li {
        font-size: 100px;
        line-height: 80px;
    }
}

.c-primary-nav__overlay li::after {
    width: 200vw;
    height: 65%;
    position: absolute;
    top: 50%;
    left: -100vw;
    -webkit-transform: translateY(-50%) scaleY(0);
    -ms-transform: translateY(-50%) scaleY(0);
    transform: translateY(-50%) scaleY(0);
    z-index: -1;
    background: #e51f10;
    -webkit-transition: -webkit-transform .5s 0s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s 0s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s 0s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s 0s cubic-bezier(.645, .045, .355, 1);
}

@media (min-width: 640px) {
    .c-primary-nav__overlay li::after {
        content: '';
    }
}

.c-primary-nav__overlay li:hover::after {
    -webkit-transform: translateY(-50%) scaleY(1);
    -ms-transform: translateY(-50%) scaleY(1);
    transform: translateY(-50%) scaleY(1);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.c-primary-nav--active .c-primary-nav--right,
.c-primary-nav__overlay li:hover {
    color: #333;
}

.c-primary-nav--active .c-primary-nav__overlay-wrapper-backdrop {
    pointer-events: all;
}

.case-study-landing-half-blocks-wrapper {
    display: block;
}

.c-work-list {
    display: block;
}

.c-work-list__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.c-work-list__item {
    display: block;
    position: relative;
    width: 100%;
    height: 376px;
    overflow: hidden;
    background-color: #000;
}

@media (min-width: 640px) {
    .c-work-list__item {
        width: 50%;
        height: 512px;
    }
}

@media (min-width: 960px) {
    .c-work-list__item {
        height: 512px;
    }
}

.c-work-list__item-link,
.c-work-list__item-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-work-list__item-link {
    display: block;
}

.c-work-list__item-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .9;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 1;
}

.c-work-list__item-link:hover .c-work-list__item-bg {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.c-work-list__item--7-up .c-work-list__item-bg {
    background-image: url(../images/temp-bg.jpg);
    background-position: left top;
    background-color: #027d3f;
}

.c-work-list__item--tube-strike .c-work-list__item-bg {
    background-image: url(../images/temp-bg.jpg);
    background-position: center;
    background-color: #333;
}

.c-work-list__item-wrapper {
    display: table;
    z-index: 2;
}

.c-work-list__item-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.type-bloc-headline {
    margin: 0 0 20px;
    font-size: 70px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
}

.c-work-list__item-inner .type-bloc-headline {
    color: #ffffff;
}

@media (min-width: 640px) {
    .type-bloc-headline {
        font-size: 100px;
        line-height: 80px;
    }
}

@media (min-width: 960px) {
    .recent-work .page-case-study-landing__hero .u-width-limiter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.page-norm .recent-work {
    min-height: 100vh;
    background: url(../images/temp-recent-work-bg.jpg) no-repeat center 120px/cover;
}

.case-study-heading-wrapper {
    margin: 0 0 75px;
}

@media (min-width: 640px)
{.case-study-heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 75px;
}}

@media (min-width: 960px)
{
.case-study-heading-wrapper {
    margin-bottom: 150px;
}}

.case-study-heading .type-block-sub-headline2 {
    margin: 15px 0 0;
}

.case-study-heading {
    max-width: 420px;
}

.case-study-sections-wrapper>.o-section-std:first-child {
    margin-top: 170px;
}

.case-study-limited-paragraph {
    max-width: 75%;
}

@media (min-width: 960px)
{.o-section-std {
    margin: 120px 0;
}}

.u-width-limiter--low-limited {
    max-width: 1060px;
}

.u-image-full-width {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.case-study-sections-wrapper .u-image-full-width {
    max-width: 1280px;
}

@media (min-width: 640px)
{.o-section--below-nav.seven-up {
    background-image: url(../images/temp-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}}

@media (min-width: 960px)
{.o-section--below-nav.seven-up {
    padding-top: 120px;
    
}}